[report]
omit =
    docs/*
    emcee3/pools/*
    emcee3/compat.py
    emcee3/autocorr.py
    emcee3/testing/*
    *__init__*

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise ImportError
    def __len__
