[report]
omit =
    docs/*
    emcee3/pools/*
    emcee3/utils.py
    emcee3/compat.py
    emcee3/tests/*
    *__init__*

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise ImportError
    except ImportError
    def __len__
